* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

a {
  color: #60bf70 !important;
  text-decoration: none !important;
  padding: 20px;
  margin-top: 20px;
}
a:hover {
  color: black !important;
}
